doctype html
html
  head
    title Weather Map
  body
    nav
      img(src="/logo.jpg", alt="Logo") 
      ul
        li
          a(href="/") Home
        li
          a(href="/forecast") Forecast
        li
          a(href="/weathermap") Weather MAP
    footer
      | Humber College Modern Web Technologies - CPAN-212-0NC Group7
